@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    font-size: 62.5%;
    font-family: Figtree, ui-sans-serif, system-ui, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
}


:root {
    --black: #0c0a09;
    --border: rgba(139,134,128, 0.25);
    --glass-black-5: rgba(12, 10, 9, 0.5);
    --glass-black-25: rgba(12, 10, 9, 0.25);
    --headerHeight: 6.4rem;
    --padding: 1.6rem;
    --margin-form: 2rem;
    --margin-label: .5rem;
}

#header {
    transition: opacity, transform;
    transition-duration: 200ms;
}

#footer--effect {
    font-size: clamp(8rem, 10.5vw, 18rem);
}