@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    font-size: 62.5%;
    font-family: Figtree, ui-sans-serif, system-ui, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
}

:root {
    --black: #0c0a09;
    --border: rgba(139,134,128, 0.25);
}

